// Theme colors
$primary-color:         rgb(0, 255, 0);
$primary-color-dark:    rgb(0, 196, 0);
$primary-color-darker:  rgb(0, 128, 0);
$primary-color-darkerer:rgb(0, 64, 0);
$primary-color-darkest: rgb(0, 32, 0);
$primary-color-alpha75: rgba(0, 255, 0, 0.75);
$primary-color-alpha50: rgba(0, 255, 0, 0.50);
$primary-color-alpha25: rgba(0, 255, 0, 0.25);
$primary-color-alpha10: rgba(0, 255, 0, 0.10);

$secondary-color:       rgb(106, 90, 205);
$secondary-color-dark:  rgb(72, 61, 139);
$secondary-color-darker:  rgb(48, 41, 93);
$secondary-color-alpha75: rgba(106, 90, 205, 0.75);
$secondary-color-alpha50: rgba(106, 90, 205, 0.50);
$secondary-color-alpha25: rgba(106, 90, 205, 0.25);
$secondary-color-alpha10: rgba(106, 90, 205, 0.10);

$tertiary-color:        rgb(0, 255, 255);
$tertiary-color-dark:   rgb(0, 139, 139);
$tertiary-color-alpha75: rgba(0, 255, 255, 0.75);
$tertiary-color-alpha50: rgba(0, 255, 255, 0.50);
$tertiary-color-alpha25: rgba(0, 255, 255, 0.25);
$tertiary-color-alpha10: rgba(0, 255, 255, 0.10);

$error-color:           rgb(255, 0, 0);
$error-color-dark:      rgb(139, 0, 0);
$error-color-alpha75:   rgba(255, 0, 0, 0.75);
$error-color-alpha50:   rgba(255, 0, 0, 0.50);
$error-color-alpha25:   rgba(255, 0, 0, 0.25);
$error-color-alpha10:   rgba(255, 0, 0, 0.10);


// Button colors
$btn-bg-color: rgba(0, 100, 0, 0.5);
$btn-color: white;
$btn-border-color: lime;

$btn-hover-bg-color: rgba(100, 100, 0, 0.8);
$btn-hover-border-color: yellow;
$btn-hover-box-shadow-color: rgba(255, 255, 0, 0.3);

$btn-active-bg-color: rgba(100, 60, 0, 0.8);
$btn-active-border-color: orange;
$btn-active-box-shadow-color: rgba(255, 165, 0, 0.3);

$btn-disabled-bg-color: rgba(100, 0, 0, 0.25);
$btn-disabled-color: darkgray;
$btn-disabled-border-color: red;

// Tags
$tag-techmino-color: lime;
$tag-galaxy-color: #978ae7;
$tag-linux-color: #f1e05a;
$tag-apple-color: white;
$tag-multiplayer-color: #ff7f00;
$tag-error-color: #ff0000;
$tag-bot-color: #62c2b9;

// Login
$oauth-discord-bg-color: #7289DA66;
$oauth-discord-border-color: #7289DABB;
$oauth-discord-color: white;

// Map
$rank-color-b: #CCDBE6;
$rank-color-a: #99E683;
$rank-color-s: #EDEDA6;
$rank-color-u: #FF8066;
$rank-color-x: #F280F2;
$rank-shadow-color: #292929CC;

$rank-reqs-bg-color: #0000004F;
$rank-reqs-border-color: #CCCCCC88;

$mode-bg-q: #0000004F;
$mode-bg-b: #3366994F;
$mode-bg-a: #99D9A64F;
$mode-bg-s: #D9CC4D4F;
$mode-bg-u: #D980664F;
$mode-bg-x: #D94DCC4F;

$mode-border: #CCCCCC;
$mode-border-active: #CFCF03;

$map-unfocused-bg-color: #0000004F;
$map-unfocused-border-color: #CC0000;
$map-unfocused-text-color: #FFFFFF;

$map-edge-color: #FFFFFF5F;

$map-panel-bg-color: #9E9E9ECC;
$map-panel-expanded-bg-color: #1E1E1EFA;
$map-panel-border-color: #BBBBBB;
$map-panel-button-text-color: black;
$map-panel-button-bg-color: #FFFFFF99;
$map-panel-button-hover-bg-color: #FFFFBBBB;
$map-panel-button-active-bg-color: #FFDD99DD;
$map-panel-button-border-color: #FFFFFFDD;


// Leaderboard
$lb-border-color: #66666666;
$lb-odd-bg-color: #18181888;
$lb-even-bg-color: #11111188;
$lb-first-bg-color: #FFD70022;
$lb-first-text-color: yellow;
$lb-second-bg-color: #C0C0C022;
$lb-second-text-color: white;
$lb-third-bg-color: #CD7F3222;
$lb-third-text-color: orange;


// Profile
$pf-card-bg-color: #000000EE;
$pf-state-banned: red;
$pf-state-unverified: orange;
$pf-state-normal: limegreen;
$pf-role-user: white;
$pf-role-verifier: limegreen;
$pf-role-admin: rgb(196, 0, 255);
$pf-page-name-underline-color: #DDDDDD66;

// Submission
$sb-underline-color: #DDDDDD66;
$sb-proof-bg-color: black;
$sb-proof-border-color: #CCCCCC;
$sb-proof-text-color: white;
$sb-replay-bg-color: black;
$sb-replay-border-color: #CCCCCC;
$sb-replay-text-color: white;