@font-face { font-family: "techmino-proportional"; src: url('/fonts/proportional.otf') }
@font-face { font-family: "techmino-monospace"   ; src: url('/fonts/monospaced.otf') }

$rank-color-b: #CCDBE6;
$rank-color-a: #99E683;
$rank-color-s: #EDEDA6;
$rank-color-u: #FF8066;
$rank-color-x: #F280F2;

$rank-bg-b: #3366994F;
$rank-bg-a: #99D9A64F;
$rank-bg-s: #D9CC4D4F;
$rank-bg-u: #D980664F;
$rank-bg-x: #D94DCC4F;

$primary-color: lime;
$primary-color-dark: darkgreen;
$primary-color-alpha75: rgba(0, 255, 0, 0.75);
$primary-color-alpha50: rgba(0, 255, 0, 0.50);
$primary-color-alpha25: rgba(0, 255, 0, 0.25);
$primary-color-alpha10: rgba(0, 255, 0, 0.10);
$primary-color-dark-alpha75: rgba(0, 128, 0, 0.75);
$primary-color-dark-alpha50: rgba(0, 128, 0, 0.50);
$primary-color-dark-alpha25: rgba(0, 128, 0, 0.25);
$primary-color-dark-alpha10: rgba(0, 128, 0, 0.10);

$secondary-color: slateblue;
$secondary-color-dark: darkslateblue;
$secondary-color-alpha75: rgba(106, 90, 205, 0.75);
$secondary-color-alpha50: rgba(106, 90, 205, 0.50);
$secondary-color-alpha25: rgba(106, 90, 205, 0.25);
$secondary-color-alpha10: rgba(106, 90, 205, 0.10);
$secondary-color-dark-alpha75: rgba(72, 61, 139, 0.75);
$secondary-color-dark-alpha50: rgba(72, 61, 139, 0.50);
$secondary-color-dark-alpha25: rgba(72, 61, 139, 0.25);
$secondary-color-dark-alpha10: rgba(72, 61, 139, 0.10);