@use '~/assets/scss/colors';

@font-face {
    font-family: "techmino-proportional";
    src: url('/fonts/proportional.otf');
}
@font-face {
    font-family: "techmino-monospace";
    src: url('/fonts/monospaced.otf');
    font-variant-ligatures: none;
}

button.web-btn {
    margin-block-start: 1em;
    padding: 0.5em 1em;
    font-size: 1em;
    background-color: colors.$btn-bg-color;
    border: 0.15em solid colors.$btn-border-color;
    font-family: 'techmino-proportional';
    color: colors.$btn-color;
    border-radius: 0.5em;
    cursor: pointer;
    transition: 200ms;

    &:hover {
        background-color: colors.$btn-hover-bg-color;
        border-color: colors.$btn-hover-border-color;
        box-shadow: 0 0 1em 0.2em colors.$btn-hover-box-shadow-color;
    }
    &:active {
        background-color: colors.$btn-active-bg-color;
        border-color: colors.$btn-active-border-color;
        box-shadow: 0 0 3em 0.3em colors.$btn-active-box-shadow-color;
    }
}

main {
    position: relative;
}

.hide { display: none; }
.hide-important { display: none !important; }